name: Test Pull Requests

on:
  pull_request:
    branches: [ main ]

  # this allows us to manually run this job
  workflow_dispatch:

jobs:
  swift-code-checks:
    name: Code Tests
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: brew install swiftlint

      - name: Lint code
        run: swiftlint lint --config .swiftlint.yml --reporter github-actions-logging

      - name: Select Xcode 26.2
        run: sudo xcode-select -s /Applications/Xcode_26.2.app

      - name: Build UID2 for iOS
        run: xcodebuild -scheme UID2 -destination "generic/platform=iOS"
      
      - name: Build UID2 for tvOS
        run: xcodebuild -scheme UID2 -destination "generic/platform=tvOS"

      - name: Run UID2 unit tests
        run: xcodebuild test -scheme UID2 -destination "OS=26.2,name=iPhone 17"
      
      - name: Run UID2 unit tests on tvOS
        run: xcodebuild test -scheme UID2 -destination "OS=26.2,name=Apple TV"

      - name: Build UID2Prebid for iOS
        run: xcodebuild -scheme UID2Prebid -destination "generic/platform=iOS"

      - name: Run UID2Prebid unit tests
        run: xcodebuild test -scheme UID2Prebid -destination "OS=26.2,name=iPhone 17"
      
      - name: Lint UID2 pod spec
        run: pod lib lint UID2.podspec.json --verbose

  vulnerability-scan:
    name: Vulnerability Scan
    runs-on: ubuntu-latest
    needs: [swift-code-checks]

    steps:
      - name: Vulnerability Scan
        uses: IABTechLab/uid2-shared-actions/actions/vulnerability_scan@v3
        with:
          scan_type: 'fs'
